/*useEffect(function getUsers() {
    async function fetchUser() {
      try {
        const res = await fetch("http://localhost:3031/Users");
        const data = await res.json();

        setUsers(data);

        // Log the updated value of users inside this callback.
      } catch (err) {
        setError(err.message);
      }
    }
    fetchUser();
  }, []); */

body {
  background-image: url("../public/Airplane.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  background-repeat: no-repeat;
}
